
.icon-filter:before { content: '\e800'; } /* '' */
.icon-flower:before { content: '\e802'; } /* '' */
.icon-grid:before { content: '\e803'; } /* '' */
.icon-minus:before { content: '\e804'; } /* '' */
.icon-paper-plane-1:before { content: '\e805'; } /* '' */
.icon-paper-plane:before { content: '\e806'; } /* '' */
.icon-plus:before { content: '\e807'; } /* '' */
.icon-quote:before { content: '\e808'; } /* '' */
.icon-reply:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-list:before { content: '\e80b'; } /* '' */
.icon-calendar:before { content: '\e80c'; } /* '' */
.icon-check:before { content: '\e80d'; } /* '' */
.icon-chevron-down:before { content: '\e80e'; } /* '' */
.icon-chevron-left:before { content: '\e80f'; } /* '' */
.icon-location:before { content: '\e810'; } /* '' */
.icon-user-1:before { content: '\e811'; } /* '' */
.icon-user:before { content: '\e812'; } /* '' */
.icon-down-arrow:before { content: '\e813'; } /* '' */
.icon-tree:before { content: '\e814'; } /* '' */
.icon-email:before { content: '\e815'; } /* '' */
.icon-play:before { content: '\e816'; } /* '' */
.icon-cart:before { content: '\e817'; } /* '' */
.icon-clock:before { content: '\e818'; } /* '' */
.icon-arrow-circle:before { content: '\e819'; } /* '' */
.icon-phone:before { content: '\e81a'; } /* '' */
.icon-user-2:before { content: '\e81b'; } /* '' */
.icon-comment:before { content: '\e81c'; } /* '' */
.icon-medicine:before { content: '\e81d'; } /* '' */
.icon-ei_user:before { content: '\e81e'; } /* '' */
.icon-nimbus_marketing:before { content: '\e81f'; } /* '' */
.icon-education:before { content: '\e820'; } /* '' */
.icon-round-border-tick:before { content: '\e821'; } /* '' */
.icon-award:before { content: '\e822'; } /* '' */
.icon-image:before { content: '\e823'; } /* '' */
.icon-video:before { content: '\e824'; } /* '' */
.icon-share:before { content: '\e826'; } /* '' */
.icon-icon-location-2:before { content: '\e827'; } /* '' */
.icon-location-3:before { content: '\e828'; } /* '' */
.icon-carbon_forum:before { content: '\e829'; } /* '' */
.icon-comment-2:before { content: '\e82a'; } /* '' */
.icon-check-2:before { content: '\e82b'; } /* '' */
.icon-codicon_feedback:before { content: '\e82c'; } /* '' */
.icon-doctor:before { content: '\e82d'; } /* '' */
.icon-eye:before { content: '\e82e'; } /* '' */
.icon-grid-2:before { content: '\e82f'; } /* '' */
.icon-i:before { content: '\e830'; } /* '' */
.icon-location-1:before { content: '\e831'; } /* '' */
.icon-location-pointer:before { content: '\e832'; } /* '' */
.icon-location-pointer-2:before { content: '\e833'; } /* '' */
.icon-lock:before { content: '\e834'; } /* '' */
.icon-phone-2:before { content: '\e836'; } /* '' */
.icon-round-tick:before { content: '\e837'; } /* '' */
.icon-star:before { content: '\e838'; } /* '' */
.icon-subscibe-email:before { content: '\e839'; } /* '' */
.icon-user-3:before { content: '\e83a'; } /* '' */
.icon-arrow-double:before { content: '\e83b'; } /* '' */
.icon-article:before { content: '\e83d'; } /* '' */
.icon-available-location:before { content: '\e83e'; } /* '' */
.icon-calender-2:before { content: '\e83f'; } /* '' */
.icon-calender-3:before { content: '\e840'; } /* '' */
.icon-calender-4:before { content: '\e841'; } /* '' */
.icon-plus-1:before { content: '\e842'; } /* '' */
.icon-select-category:before { content: '\e843'; } /* '' */
.icon-registration:before { content: '\e844'; } /* '' */
.icon-pdf:before { content: '\e845'; } /* '' */
.icon-arrow-right-1:before { content: '\e846'; } /* '' */
.icon-like:before { content: '\e847'; } /* '' */
.icon-heart:before { content: '\e848'; } /* '' */
.icon-youtube:before { content: '\f315'; } /* '' */
