.contact-info-box {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        right: 5px;
        width: 1px;
        height: 60px;
        background-color: #015F65;
        display: none;
        @include media-only ('lg', min) {
            display: block;
        }
    }
    .icon {
        overflow: hidden;
        position: relative;
        @include transition;
        i {
            font-size: 24px;
            color: #8ABABD;
        }
    }
    .content {
        .info-text {
            color: #8ABABD;
        }
        .number {
            a {
                color: $color-white;
                font-size: 22px;
                font-weight: 500;
                line-height: normal;
            }
        }

    }

    &--style-1 {
        .icon {
            width: 55px;
            height: 55px;
            background-color: #00474B;
        }

        &:hover {
            .icon {
                background-color: $color-secondary;
                i {
                    color: $color-white;
                    @include transition;
                }
            }
        }
    }

    &--style-2 {
        background-color: $color-white;
        border-radius: 16px;
        border: 1px solid #DCE0E1;
        padding: 30px;
        @include transition;
        &::before {
            display: none;
        }

        .icon {
            width: 60px;
            height: 60px;
            color: $color-white;
            i {
                font-size: 24px;
                color: $color-white;
            }
        }

        .content {
            .info-text {
                color: $color-text;
            }
            .number {
                a {
                    color: $color-title;
                }
            }
    
        }

        &:hover {
            border-color: $color-secondary;
            .icon {
                i {
                    animation: forwards 0.5s toBottomFromTop;
                }
            }
        }
    }

    &--style-3 {
        margin-bottom: 24px;
        .icon {
            width: 40px;
            height: 40px;
            color: $color-white;
            background-color: #E6F0F1;
            i {
                font-size: 18px;
                color: $color-primary;
            }
        }

        .content {
            flex: 1;
            .info-text {
                color: #576767;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px; 
            }
            .number {
                a {
                    color: $color-title;
                }
            }
    
        }
        &::before { 
            display: none;
        }
    }


}

