.rt-counter-item {
    gap: 20px;
    @include transition;

    .icon-wrapper {
        position: relative;
        z-index: 0;
        .icon {
            @include transition;
            position: relative;
            z-index: 0;
        }
    }

    .item-title {
        h3 {
            @include toRem(font-size, 40);
            color: $color-white;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 5px;
        }

        .label {
            font-weight: 600;
            @include toRem(font-size, 18);
            line-height: 24px;
            color: $color-white;
        }
    }

    &:hover {
        .icon {
            &::before {
                opacity: 0;
            }
            &::after {
                opacity: 1;
            }
        }
    }
}
