/*=================================
// Widget-popular-tag [side widget]
===================================*/

.widget-tag {
    background-color: $color-white;
    border-radius: 6px;
    .sub-title {
        border-radius: 8px 8px 0px 0px;
        font-family: $title-font;
        font-weight: 600;
        @include toRem(font-size, 20);
        line-height: 140%;
        display: inline-block;
        margin-bottom: 20px;
    }
    .tag-list-wrapper {
        ul.tag-list {
            gap: 12px;
            flex-wrap: wrap;
            li {
                .tag-link {
                    border-radius: 6px;
                    padding: 9px 15px;
                    line-height: normal;
                    border: 1px solid #DCE0E1;

                    &:hover {
                        background: $color-primary;
                        color: $color-white;
                        border-color: transparent;
                    }
                }
            }
        }
    }
    
}
