.testimonial-author-info {
    gap: 10px;
    padding: 19px 27px;
    border-radius: 3px;
    
    .avatar {
        width: 60px;
        height: 60px;
        overflow: hidden;
    }
    .info {
        .author-name {
            color: $color-title;
            font-size: 18px;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 10px;
        }
        .designation {
            font-size: 15px;
            font-weight: 500;
            line-height: normal;
        }
    }

    &.active {
        background-color: #FAF9FF;
    }
}