.widget-search {
    background-color: $color-white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 30px;
    .searchbox-wrapper {
        overflow: hidden;
        .searchbox-textfield {
            flex: 1;
            .rt-searchbox-form {
                input {
                    width: 100%;
                    border: none;
                    padding: 5px 10px;
                    background-color: transparent;
                    @extend .para-text;
                    &::placeholder {
                        color: #A3ACAC;
                    }
                }
            }
        }
    
        .searchbox-submit {
            .rt-searchbox-btn {
                background: $color-secondary;
                border-radius: 6px;
                border: none;
                width: 40px;
                height: 40px;
                @include transition;
                color: $color-white;
                i {
                    font-size: 20px;
                }
            }
        }
    }
}
