/*================================
//  Pagination [component]
=================================*/

.pagination-wrapper {
    margin-top: 40px;
    @include media-only('md', min) {
        margin-bottom: 0;
    }
    .pagination {
        .active {
            background-color: $color-primary;
            color: $color-white;
            border-color: transparent;
        }
        gap: 8px;
        li {
            a {
                color: $color-title;
                font-size: 16px;
                font-weight: 500;
                line-height: normal;
                width: 42px;
                height: 42px;
                border-radius: 8px;
                border: 1px solid #DCE0E1;
                background: $color-white;
                @include transition;

                &:first-child {
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                }
                &:last-child {
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                }

                &:hover {
                    background-color: $color-primary;
                    color: $color-white;
                    border-color: transparent;
                }
            }
        }
        
    }
    
    &--style-2 {
        .pagination {
            .active {
                background-color: $color-secondary;
            }
            li {
                a {
                    &:hover {
                        background-color: $color-secondary;
                    }
                }
            }
        }
    }
}