/*================================
//  Contact Info Card [component]
=================================*/


.rt-contact {
    &-info-wrapper {
        background: $color-white;
        border-radius: 10px;
        border: 1px solid #ECECEC;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
        padding: 80px 40px;
        
        .title-area {
            .title {
                line-height: 30px;
                margin-bottom: 8px;
            }
            .para-text {
                margin-bottom: 25px;
            }
        }
    }
    &-item {
        text-align: center;
        gap: 18px;
        border-bottom: 1px solid #E4E8EF;
        padding-bottom: 24px;
        margin-bottom: 24px;
        @include transition;
        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        &:hover {
            .rt-contact-icon {
                background-color: $color-primary;
                i {
                    color: $color-white;
                    @include transition;
                }
            }
        }
    }
    &-icon {
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $color-primary;
        @include transition;

        i {
            font-size: 26px;
            color: $color-primary;
        }
    }
    &-item-content {
        flex: 1;
        .contact-item-content-heading {
            line-height: 26px;
            font-weight: 600;
            margin-bottom: 6px;
        }
        .para-text {
            font-weight: 500;
            line-height: 26px;
        }
    }
}

//service-section 

.service-section {
    
}