.nav-tabs {
    border-bottom: none;
}

.view-buttons {
    margin-left: 12px;
    gap: 12px;
    .grid-view, .list-view {
        border-radius: 6px;
        border: 1px solid #DCE0E1;
        background: $color-white;
        padding: 5px 8px;
        width: 40px;
        height: 40px;
        color: #292D32;
        i {
            font-size: 19px;
            color: $color-primary;
        }
        &.active {
            border-color: $color-primary;
            background-color: $color-primary;
            i {
                color: $color-white;
            }
        }
    }
}