/*================================
//  Pricing Card [component]
=================================*/

.rt-pricing { 
    &-item {
        border-radius: 16px;
        border: 1px solid #E6F0F1;
        background: $color-white;
        position: relative;
        padding: 20px 20px 40px 20px;
        @include transition;
        
        &:hover, &.active {
            background-color: $color-primary;
            .rt-pricing-header {
                border: 1px solid #34868C;
                background: #015F65;
                .pricing-title {
                    color: #B0D0D2;
                }
                .price-amount {
                    color: $color-white;
                }
                .price-duration {
                    color: #8ABABD;
                }
                .pricing-header-text {
                    color: #8ABABD;
                }
            }
            .feature-list-title {
                color: #8ABABD;
            }
            
            .rt-pricing-features-list {
                li {
                    color: #E6F0F1;
                    &:before {
                        background-color: #559A9F;
                    }
                }
            }
            .pricing-btn {
                background-color: $color-secondary;
                border-color: transparent;
                color: $color-white;
                i {
                    color: $color-white;
                }
            }
        }
    }
    &-header {
        border-radius: 12px;
        background: #F1F8F8;
        padding: 24px 30px;
        margin-bottom: 30px;
        position: relative;
        border: 1px solid transparent; 
        @include transition;
        .pricing-title {
            color: $color-primary;
            line-height: normal;
            @include transition;
        }
        .pricing-price {
            margin-bottom: 5px;
            .price-amount {
                color: $color-black;
                font-size: 40px;
                font-weight: 700;
                line-height: normal;
                @include transition;
            }       
            .price-duration {
                @include transition;
            }
        }
        .pricing-header-text {
            font-size: 14px;
            line-height: 24px;
            @include transition;
        }  
        
        .pricing-shape-list {
            li {
                position: absolute;
                &:nth-child(1) {
                    right: 0;
                    top: 43px;
                }
            }
        }
    }

    &-body {
        padding: 0 20px;
    }

    &-features {
        margin-bottom: 30px;
        .feature-list-title {
            color:#949E9E;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .rt-pricing-features-list {
            li {
                position: relative;
                padding-left: 36px;
                margin-bottom: 12px;
                @include transition;
                &::before {
                    content: '\e80d';
                    font-family: 'rt-obituary';
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    left: 0;
                    top: 3px;
                    border-radius: 50%;
                    color: $color-white;
                    background-color: $color-primary;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                    padding-top: 2px;
                    @include transition;
                }
            }
        }
    }

    &-btn {
        text-align: center;
        line-height: normal;
        .pricing-btn {
            border-radius: 8px;
            border: 1px solid #DCE0E1;
            font-weight: 500;
            width: 100%;
            padding: 8px 0;
            @include transition;
            i {
                margin-left: 10px;
                font-size: 23px;
                @include transition;
            }
        }
        .pricing-btn.active {
            
        }
    }
}

.pricing-section {
    .section-text-content {
        .section-name {
            
        }
        .section-heading {
            position: relative;
            margin-bottom: 25px;
            &::before {
                content: url("../images/hero-section/shapes/hero-shape-5.svg");
                position: absolute;
                top: 30px;
                left: 0;
                right: 0;
                margin: auto;
                display: none;
                @include media-only('md', min) {
                    display: block;
                }
            }
        }
        .para-text {
            margin-bottom: 40px;
        }
    }
}



.all-pricing {
    padding-bottom: 90px;
}


