.rt-counter-item {
    gap: 15px;
    @include transition;

    .icon-wrapper {
        position: relative;
        z-index: 0;
        .icon {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 50%, rgba(255, 255, 255, 0.00) 100%);
            width: 80px;
            height: 80px;
            @include transition;
        }
    }

    .item-title {
        h3 {
            @include toRem(font-size, 38);
            color: $color-white;
            font-weight: 700;
            line-height: 26px;
            margin-bottom: 16px;
        }

        .label {
            font-family: $font-roboto;
            font-weight: 400;
            @include toRem(font-size, 18);
            line-height: 21px;
            color: #859D9E;
        }
    }

    &:hover {
        .icon {
            background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.10) 50%, rgba(255, 255, 255, 0.00) 100%);
        }
    }
}
