.rt-pricing {
    &-plan-btn {
        display: flex;
        justify-content: center;
        .nav-tabs {
            border-radius: 12px;
            border: 1px solid #E6F0F1;
            background: #FFF;
            padding: 8px 6px;

            button {
                color: $color-text;
                background-color: transparent;
                font-size: 16px;
                font-weight: 500;
                line-height: 28px;
                @include transition;
                padding: 7px 23px;
                &:hover {
                    border-color: transparent;
                }

            }
            .nav-link.active {
                color: $color-white;
                border-radius: 8px;
                background: $color-secondary;
                box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.12);
                border-color: transparent !important;
            }
        }
    }
}