.rt-team-card {
    background: $color-white;
    padding: 48px 58px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
    @include transition;
    .item-img {
        width: 140px;
        height: 140px;
        margin-bottom: 5px;
        img {
            @include transition;
        }
    }

    .item-content {
        .title {
            font-weight: 600;
            margin-bottom: 6px;
            .title-link {
                color: $color-title;
                font-family: $font-body;
                &:hover {
                    color: $color-primary;
                }
            }
        }
        .designation {
            color: #605982;
            font-size: 20px;
            margin-bottom: 19px;
        }
        .social-list {
            li {
                a {
                    width: 40px;
                    height: 40px;
                    border: 1px solid #EAEAEA;
                    &:hover {
                        background-color: #1DA1F2;;
                        color: $color-white;
                        border-color: transparent;
                    }
                }
            }
        }
    }

    &:hover {
        transform: translateY(-12px);
        .item-img {
            overflow: hidden;
            img {
                transform: scale(1.15);
            }
        }
    }

}