.widget-search {
    border-radius: 10px;
    background: $color-white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    padding: 54px 43px;
    .searchbox-wrapper {
        overflow: hidden;
        border-radius: 4px;
        border: 1px solid #E0E3E7;
        background: #FFF;
        .searchbox-textfield {
            flex: 1;
            .rt-searchbox-form {
                input {
                    width: 100%;
                    border: none;
                    padding: 12px 20px;
                    background-color: transparent;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 26px;
                    color: #999;
                    &::placeholder {
                        color: #999;
                    }
                }
            }
        }
    
        .searchbox-submit {
            .rt-searchbox-btn {
                background: $color-primary;
                border-radius: 0px 4px 4px 0px;
                border: none;
                width: 50px;
                height: 51px;
                @include transition;
                color: $color-white;
                i {
                    font-size: 20px;
                }
            }
        }
    }
}
