

.tag-link {
    border-radius: 3px;
    padding: 5px 16px;
    line-height: normal;
    background-color: #F6F5FB;

    color: #41396A;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;

    &:hover {
        background: $color-primary;
        color: $color-white;
        border-color: transparent;
    }
}