
.searchbox-container {
    width: 100%;
    padding: 12px 14px;
    background: $color-white;
    border-radius: 15px;
    gap: 10px;

    

    .searchbox-textfield {
        .searchbox-input {
            width: 100%;
            border: none;
            position: relative;
            @include toRem(font-size, 15);
            font-weight: 400;
            line-height: normal;
            background-color: transparent;
            color: #706A8F;;
            padding: 0 24px;
            height: 55px;
            &::placeholder {
                color: #706A8F;
            }
        }
        .rt-searchbox-form {
            .input-area {
                gap: 8px;
                i {
                    color: $color-primary;
                    font-size: 20px;
                }
                svg {
                    margin-top: -3px;
                }
            }
        }
    }
    .searchbox-textfield {
    }
    .searchbox-submit {
        .rt-searchbox-btn {
            gap: 4px;
            padding: 15px 30px;
            border-radius: 12px;
            border: none;
            text-transform: uppercase;
            height: 55px;
            // &::before, &::after {
            //     background-color: $color-secondary;
            // }
            &:hover {

            }
        }
    }
    &--style-1 {
        // gap: 20px;
    }

    &--style-2 {
        .searchbox-btn-list {
            li {
                padding-right: 20px;
                position: relative;
                .filter-btn {
                    background-color: transparent;
                    border: none;

                    i {
                        font-size: 25px;
                        color: #758283;
                    }
                }
                &:first-child {
                    &::before {
                        content: "";
                        position: absolute;
                        left: -20px;
                        width: 1.5px;
                        height: 32px;
                        background-color: #D1E0E1;
                    }

                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    &--style-3 {

    }
}