
.searchbox-container {
    width: 100%;
    @include media-only('md', min) {
        width: 770px;
    }
    padding: 7px 7px 7px 15px;
    background: $color-white;
    border-radius: 6px;
    // gap: 33px;
    // margin: 0 auto;

    .location-selector {
        position: relative;
        i {
            font-size: 20px;
            color: $color-primary;
        }
        .nice-select {
            padding-left: 10px;
            padding-right: 30px;
            display: flex;
            align-items: center;
            @include media-only ('lg', min) {
                padding-right: 50px;
            }
            span {
                @include toRem(font-size, 18);
                color: #667475;
                font-weight: 400;
                line-height: normal;
            }
            .list {
                left: 10px;
                top: 120%;
            }

            &::after {
                border-bottom: 1.5px solid #A3ACAC;
                border-right: 1.5px solid #A3ACAC;
                height: 8px;
                width: 8px;
                right: -5px;
                top: 45%;
            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 32px;
            right: -34px;
            top: 5px;
            background: #B0D0D2;
        }
    }

    .searchbox-textfield {
        width: 40%;
        .searchbox-input {
            width: 100%;
            border: none;
            background: $color-white;
            position: relative;
            @include toRem(font-size, 18);
            color: #667475;
            font-weight: 400;
            line-height: normal;
        }
        .rt-searchbox-form {
            .input-area {
                gap: 8px;
                i {
                    color: $color-primary;
                    font-size: 20px;
                }
                svg {
                    margin-top: -3px;
                }
            }
        }
    }
    .searchbox-textfield {
    }
    .searchbox-submit {
        .rt-searchbox-btn {
            @include toRem(font-size, 18);
            font-weight: 500;
            line-height: 23px;
            padding: 17px 25px;
            border-radius: 6px;
            border: none;
            // &::before, &::after {
            //     background-color: $color-secondary;
            // }
            &:hover {

            }
        }
    }
    &--style-1 {

    }

    &--style-2 {
        .searchbox-btn-list {
            li {
                padding-right: 20px;
                position: relative;
                .filter-btn {
                    background-color: transparent;
                    border: none;

                    i {
                        font-size: 25px;
                        color: #758283;
                    }
                }
                &:first-child {
                    &::before {
                        content: "";
                        position: absolute;
                        left: -20px;
                        width: 1.5px;
                        height: 32px;
                        background-color: #D1E0E1;
                    }

                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    &--style-3 {

    }
}