.memory-wrapper {
    border-radius: 12px;
    background: $color-white;
    padding: 30px;
    margin-bottom: 30px;


    .memory-post-top {
        margin-bottom: 22px;
        .post-account-info {
            gap: 18px;
        }
        h3.title {
            margin-bottom: 5px;
        }
    }

    .avatar {
        border-radius: 12px;
        overflow: hidden;
    }

    .meta-data {
        .meta-item {
            span {
                color: #3B4D4E;
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
            }
            i {
                color: $color-primary;
                margin-right: 7px;
                font-size: 17px;
            }
        }
    }

    .share-btn-wrapper {
        position: relative;
        z-index: 0;
        .share-btn {
            width: 40px;
            height: 40px;
            border: 1px solid #DCE0E1;
            background-color: $color-white;
            i {
                color: #667475;
                @include transition;
            }
    
            &:hover {
                background-color: $color-primary;
                border-color: $color-primary;
                i {
                    color: $color-white;
                }
            }
        }

        .social-list {
            gap: 10px;
            position: absolute;
            right: 40px;
            top: 0;
            z-index: -1;
            li {
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease-in-out;

                &:nth-child(1) {
                    transition-delay: 0.1s;
                }
                &:nth-child(2) {
                    transition-delay: 0.2s;
                }
                &:nth-child(3) {
                    transition-delay: 0.3s;
                }
                &:nth-child(4) {
                    transition-delay: 0.4s;
                }
            }
        }

        &:hover {
            .social-list {
                li {
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(-10px);
                }
            }
        }

    }

    .text {
    }
    
    .gallery-images {
        margin-top: 25px;
        gap: 10px;
        .img-item {
            border-radius: 8px;
            overflow: hidden;
            img {
                @include transition;
            }
            &:hover {
                img {
                    filter: grayscale(100%);
                    transform: scale(1.15);
                }
            }
        }
    }
}