.isotope-menu {
    margin-bottom: 50px;
    &-list {
        gap: 10px;
        li {
            background: #F3F0FF;
            color: $color-primary;
            border-radius: 100px;
            cursor: pointer;
            padding: 10px 22px;
            font-size: 14px;
            font-weight: 600;
        }
        li.active {
            background: $color-primary;
            color: $color-white;
            @include transition;
        } 

    }
}