/*=================================
// Widget-archive [side widget]
===================================*/

.widget-archive {
    border-radius: 10px;
    background-color: $color-white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    padding: 30px 55px;
    .sub-title {
        background: #F7F9FE;
        border-radius: 8px 8px 0px 0px;
        padding: 16px 30px;
        font-family: $font-outfit;
        font-weight: 600;
        @include toRem(font-size, 20);
        line-height: 140%;
    }
    .archive-list {
        ul {
            li {
                line-height: normal;
                border-bottom: 1px solid #EBEBEB;
                padding: 18px 0;

                
                a {
                    @include toRem(font-size, 16);
                    font-weight: 500;
                    color: #605982;
                    line-height: normal;
                    width: 100%;
                    
                    i {
                        font-size: 15px;
                        color: $color-black;
                        color: #B6B2C5;
                        @include transition;
                    }
                }

                span {
                    @include toRem(font-size, 16);
                    color: #999;
                    font-weight: 400;
                    padding-left: 5px;
                 } 

                &:hover {
                    a {
                        color: $color-primary;
                        margin-left: 0;
                        padding-left: 8px;
                        i {
                            color: $color-primary;
                        }
                    }
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}