.rt-card {
    position: relative;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
    background: $color-white;
    overflow: hidden;
    z-index: 0;
    @include transition;
    
    .item-img {
        position: relative;
        overflow: hidden;
        z-index: 0;
        
        a {
            width: 100%;
            @include transition;
            img {
                width: 100%;
                @include transition;
            }
        }
    }

    .item-action {
        .doctor-category {
            position: absolute;
            left: 20px;
            top: 20px;
            a {
                color: #928DA9;
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                padding: 5px 14px;
                border-radius: 50px;
                background-color: $color-white;

                &:hover {
                    background-color: $color-primary;
                    color: $color-white;
                }
            }
        }
        .favourite {
            position: absolute;
            right: 20px;
            top: 20px;
            a {
                width: 36px;
                height: 36px;
                background-color: $color-white;
                color: #928DA9;
                &:hover {
                    background-color: $color-primary;
                    color: $color-white;
                }
            }
        }
    }

    .item-content {
        padding: 24px 24px 19px;
        .title {
            margin-bottom: 10px;
            line-height: normal;
            a {
                color: #41396A;
                &:hover {
                    color: $color-primary;
                }
            }
        }
        .designation {
            font-size: 14px;
            font-weight: 600;
            line-height: 120%;
            margin-bottom: 15px;
        }
        .meta-list {
            margin-bottom: 20px;
            li, a {
                color: $color-text;
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 14px;
                &:last-child {
                    margin-bottom: 0;
                }
                i {
                    margin-right: 5px;
                }
            }
        }
    }

    .card-btn {
        gap: 10px;
        padding: 15px 20px 16px 36px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        i {
            
        }
    }

    &:hover {
        .item-img {
            img {
                transform: scale(1.18);
                transform-origin: top;
            }
        }
        .card-btn { 
            i {
                
            }
        }
    }

    &--style-1 {
    }

    &--style-2 {
        border-radius: 10px;
        background: $color-white;
        padding: 10px 30px 10px 10px;
        border-color: transparent;
        .icon {
            background-color: $color-secondary;
            border-radius: 10px;
            width: 120px;
            height: 130px;
            @include transition;
            svg {
                @include transition;
            }
        }
        .item-content {
            padding: 0;
            flex: 1;

            .title {
                margin-bottom: 14px;
                a {
                    color: $color-title;
                }
            }
            .para-text {
                font-size: 15px;
                font-weight: 500;
                color: #928DA9;
                line-height: normal;
            }

            .arrow-icon {
                width: 40px;
                height: 40px;
                border: 1px solid #E4E4E4;
                @include transition;
                i {
                    font-size: 12px;
                }
                &:hover {
                    background-color: $color-primary;
                    color: $color-white;
                    border-color: transparent;
                }
            }
        }

        &:hover {
            box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);
            .icon {
                background-color: $color-primary;
                svg {
                    fill: $color-white;
                }
            }
        }
    }

    &--style-3 {
        .item-action {
            .favourite {
                position: absolute;
                right: unset;
                left: 20px;
                top: 20px;
            }
        }

        .item-img {
            a {
                height: 100%;
                img {
                    height: 100%;
                }
            }
        }
        
        .item-content {
            flex: 1;
            padding: 22px 45px 27px 24px;
            @include media-from-to (1200px, min, 1400px, max) {
                padding: 22px 15px 27px 24px;
            }
            .title {
                a {
                    color: $color-title;
                }
            }
            .card-text {
                margin-bottom: 19px;
            }

            .meta-list {
                margin-bottom: 28px;
                li {
                    margin-bottom: 0;
                    color: $color-title;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: capitalize;
                    i {
                        color: $color-primary;
                    }
                }
            }

            .card-btn {
                padding: 12px 13px;
                background-color: #F6F8FF;
                &:hover {
                    background-color: $color-primary;
                }
            }
        }
    }
    &--style-4 {
        border: none;
        .item-img {
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 40px;
            img {
                @include transition;
            }
        }
        .item-content {
            padding: 0;
            padding-right: 20px;

            .title {
                font-size: 30px;
                font-weight: 600;
                line-height: 45px;
                margin-bottom: 13px;
                a {
                    color: $color-title;
                }
            }

            .para-text {
                margin-bottom: 30px;
            }

            .meta-list {
                gap: 40px;
                li, a {
                    margin-bottom: 0;
                    font-size: 18px;
                    i {
                        margin-right: 3px;
                    }
                }
            }
            .read-more {
                padding: 13px 24px;
            }
        }
    }
    &--style-5 {
        border: none;
        border-radius: 0;
        gap: 24px;
        padding-bottom: 35px;
        margin-bottom: 35px;
        border-bottom: 1px solid #D9D9D9;;
        .item-img {
            border-radius: 10px;
            overflow: hidden;
            display: inline-block;
            img {
                @include transition;
            }
        }
        .item-content {
            padding: 0;
            flex: 1;

            .title {
                font-weight: 600;
                line-height: 30px;
                margin-bottom: 13px;
                a {
                    color: $color-title;
                }
            }

            .para-text {
                margin-bottom: 0;
            }

            .meta-list {
                gap: 20px;
                @include media-only ('md', min) {
                    gap: 40px;
                }
                li {
                    margin-bottom: 0;
                    // font-size: 16px;
                    i {
                        margin-right: 3px;
                    }
                }
            }
            .read-more {
                padding: 13px 24px;
            }
        }
    }
    &--style-6 {
        margin-left: 49px;
        position: relative;
        border: none;
        overflow: visible;
        
        .item-img {
            width: 98px;
            height: 98px;
            position: absolute;
            top: 24px;
            left: -49px;
            border: 4px solid #C3B8F8;
            background-color: #EDEDED;
        }

        .item-content {
            background-color: #FAFAFA; 
            border-radius: 10px 10px 0 0;
            padding: 24px 23px 20px 69px;
            .meta-list {
                margin-bottom: 0;
            }
        }

        .item-action {
            margin-bottom: 10px;
            .doctor-category {
                position: relative;
                left: unset;
                top: unset;
                a {
                    color: $color-primary;
                    background-color: #ECE8FD;
                    &:hover {
                        background-color: $color-primary;
                        color: $color-white;
                    }
                }
            }
            .favourite {
                position: relative;
                right: unset;
                top: unset;
                a {
                    color: $color-primary;
                    background-color: #ECE8FD;
                    &:hover {
                        background-color: $color-primary;
                        color: $color-white;
                    }
                }
            }
        }

        

        .card-btn {
            border-radius: 0px 0px 6px 6px;
        }
    }

    &--style-7 {
        width: 244px;
        height: 236px;
        border-radius: 15px;
        border: 1px solid var(--blue-blue-50, #E7E6EC);
        background: $color-white;
        z-index: 1;
        
        @include media-only ("lg", min) {
            margin-bottom: -114px;
        }
        
        .icon {
            width: 80px;
            height: 80px;
            background-color: $color-secondary;
            margin-bottom: 16px;
            @include transition;
            svg {
                @include transition;
            }
        }
        .item-content {
            padding: 0;
            .title-content {
                .title {
                    font-size: 20px;
                    margin-bottom: 4px;
                    a {
                        color: $color-title;
                    }
                }
                .para-text {
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }

        &:hover {
            box-shadow: 0px 20px 30px 0px rgba(139, 139, 139, 0.15);
            .icon {
                background-color: $color-primary;
                svg {
                    fill: $color-white;
                }
            }
        }
    }

    &--style-8 {
        border: none;
        position: relative;
        padding-top: 62px;
        overflow: visible;
        @include transition;
        .item-img {
            display: inline-block;
            position: absolute;
            top: -20px;
            text-align: center;
            left: 0;
            right: 0;
            padding: 20px;
            @include transition;
            z-index: 1;

            border: 10px solid $color-white;
            width: 160px;
            height: 160px;
            padding: 0;
            margin: auto;
            img {
                @include transition;
            }
        }
        .item-content {
            padding: 100px 20px 34px 20px;
            border-radius: 30px 30px 10px 10px;
            background: #F7F5FF;
            position: relative;
            @include transition;
            z-index: 0;
            .title {
                font-weight: 600;
                a {
                    color: $color-title;
                }
            }
            p {
                font-size: 15px;
                color: #41396A;
                @include transition;
            }

            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 0;
                z-index: -1;
                background-color: $color-primary;
                border-radius: 30px 30px 10px 10px;
                @include transition;
            }
        }

        &:hover {
            .item-img { 
                box-shadow: (0px 0px 50px rgba(0, 0, 0, 0.10));
                img {
                    transform: unset;
                    transform: scale(1.23);
                    transform-origin: unset;
                }
            }
            .item-content { 
                .title {
                    a {
                        color: $color-white;
                    }
                }
                p {
                    color: #E7E6EC;
                }
                &::before {
                    height: 100%;
                }
            }
        }
    }

    &--style-9 {
        border-radius: 8px;
        background: $color-white;
        box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.10);
        padding: 41px 34px 50px 34px;

        .icon {
            margin-bottom: 25px;
        }

        .text {
            font-size: 18px;
            line-height: 28px;
            color: $color-title;
            margin-bottom: 32px;
        }

        .card-bottom {
            .commentor-info {
                .title {
                    font-weight: 600;
                    line-height: normal;
                    margin-bottom: 3px;
                }
                .designation {
                    font-size: 15px;
                }
            }
    
            .avatar {
                width: 60px;
                height: 60px;
            }
        }
    }

    &--style-10 {
        border: none;
        .item-img {
            img {
                @include transition;
                width: 100%;
            }
        }
        .item-content {
            background-color: #F9F9F9;
            @include transition;
            .meta-list {
                li {
                    color: $color-primary;
                }
            }

            .title {
                line-height: 34px;
                margin-bottom: 16px;
            }
        }
        .blog-author-info {
            .designation {
                font-size: 16px;
                font-weight: 500;
                line-height: normal;
                color: $color-title;
                margin-bottom: 0;
            }
        }

        &:hover {
            box-shadow: 0px -6px 50px 0px rgba(0, 0, 0, 0.10);
            .item-content {
                background-color: $color-white;
            }
        }
    }

    &--style-11 {
        border-radius: 10px;
        border-color: #E7E6EC;
        padding: 20px 15px 20px 30px;
        gap: 12px;
        width: 250px;
        height: 100px;
        .icon {
            width: 60px;
            height: 60px;
            background-color: #F6F4FF;
        }
        .item-content {
            padding: 0;
            flex: 1;
            .title-content {
                .title {
                    // margin-bottom: 7px;
                }
                p {
                    font-size: 15px;
                    font-weight: 500;
                    line-height: normal;
                }
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: $color-primary;
            z-index: -1;
            transform-origin: bottom left;
            transform: rotate(-90deg);
            @include transition;
            border-radius: 10px;
        }
          
          

        &:hover {
            border-color: transparent;
            .item-content {
                .title-content {
                    .title {
                        a {
                            color: $color-white;
                        }
                    }
                    p {
                        color: #E7E6EC;
                    }
                }
            }

            &::before {
                transform: rotate(0deg);
            }
        }
    }
    &--style-12 {
        border: none;
        border-radius: 140px;
        position: relative;
        z-index: 0;

        .item-img {
            width: 100%;
            img {
                @include transition;
                filter: grayscale(100%);
                width: 100%;
            }
        }

        .item-content {
            position: absolute;
            z-index: 2;
            left: 0;
            right: 0;
            margin: auto;
            .title {
                a {
                    color: $color-white;
                }
            }
            p {
                color: #E7E6EC;
            }
        }

        &::before {
            content: "";
            position: absolute;
            border-radius: 140px;
            opacity: 0.6;
            background-color: $color-title;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            @include transition;
        }

        &:hover {
            .item-img {
                img {
                    transform-origin: unset;
                }
            }

            .item-content {
                .title {
                    a {
                        color: $color-white;
                    }
                }
            }
            
            &::before {
                opacity: 0.85;
                background: $color-primary;
            }
        }
    }
    &--style-13 {
        background-color: transparent;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, .2);;
        gap: 15px;
        padding: 29px 30px;
        .item-img {
            height: 60px;
            height: 60px;
            img {
                @include transition;
            }
        }
        .item-content {
            padding: 0;
            flex: 1;
            .title {
                font-weight: 600;
                a {
                    color: $color-white;
                }
            }
            p {
                color: $color-white;
                font-size: 15px;
                font-weight: 500;
                line-height: normal;
                @include transition;
            }
        }

        &:hover {
            background-color: $color-white;
            box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
            transform: translateY(-10px);
            .item-content {
                padding: 0;
                flex: 1;

                .title {
                    a {
                        color: $color-title;
                    }
                }
                p {
                    color: $color-title;
                }
            }
        }
    }

    &--style-14 {
        border: none;
        border-radius: 10px;
        background: #FAF9FF;
        padding: 74px 38px;
        position: relative;
        .icon {
            width: 80px;
            height: 80px;
            background-color: #F3F0FF;
            margin-bottom: 15px;
        }
        .item-content {
            padding: 0;
            .title {
                margin-bottom: 13px;
                .title-link {
                    &:hover {
                        color: $color-white;
                    }
                }
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $color-primary;
            transition: .5s;
            transform-origin: top;
            transform: perspective(2000px) rotateY(-90deg);
            z-index: -1;
            border-radius: 10px;
        }

        &:hover {
            .title {
                .title-link {
                    color: $color-white;
                }
            }
            .para-text {
                color: $color-white;
                @include transition;
            }


            &::before { 
                transform: perspective(2000px) rotateY(0deg);
            }
        }
    }
}