.author-info-box {
    border-radius: 10px;
    background: $color-white;
    padding: 42px 56px;
    gap: 24px;
    margin-bottom: 30px;

    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);

    .post-author-img {
        border-radius: 12px;
        overflow: hidden;
    }

    .post-author-content {
        .designation {
            color: $color-primary;
            font-size: 15px;
            font-weight: 500;
            line-height: normal;
        }
        flex: 1;
        .post-author-name {
            font-weight: 500;
            line-height: 26px;
            color: $color-title;
            margin-bottom: 6px;
        }
        p {
            line-height: 28px;
        }

        .author-bottom {
            .view-post-btn {
                padding: 11px 27px;
                i {
                    margin-left: 6px;
                }
            }
        }
    }
}