.call-now-item {
    border-radius: 5px;
    background-color: #110D20;
    display: inline-block;
    gap: 10px;
    padding: 9px 28px;
    @include transition;
    
    .icon {
        i {
            font-size: 30px;
            color: $color-white;
        }
    }
    .content {
        flex: 1;
        p {
            color: #828282;
            font-size: 15px;
            margin-bottom: 5px;
            @include transition;
        }
        .call-number {
            color: $color-white;
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
        }
    }

    &:hover {
        background-color: $color-primary;
        .content { 
            p {
                color: $color-white;
            }
        }
    }
}