/*=================================
// Widget-popular-tag [side widget]
===================================*/

.widget-tag {
    background-color: $color-white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    padding: 40px 58px;
    .sub-title {
        border-radius: 8px 8px 0px 0px;
        font-family: $title-font;
        font-weight: 600;
        @include toRem(font-size, 20);
        line-height: 140%;
        display: inline-block;
        margin-bottom: 20px;
    }
    .tag-list-wrapper {
        ul.tag-list {
            gap: 8px;
            flex-wrap: wrap;
        }
    }
    
}
