
/** Bootstrap Row customize**/

.row {
    // row-gap: 24px;
}

.nice-select {
    border: none;
    // padding-right: 100px;


    .list {
        // width: 100%;
    }
}







/*=============================
// Bootstrap Row gutter reset
==============================*/

// .row { 
//     --bs-gutter-x: 1.875rem;
// }

//Gutter size
@media (min-width: 1200px) {
    .row.gutters-30 {
        margin-left: -15px;
        margin-right: -15px;
    }
    .row.gutters-30 > [class^="col-"] {
        padding-left: 15px;
        padding-right: 15px;
    }
}


//swipper slider bullets style


// .swiper {
//     // padding-bottom: 80px;
//     @include media-only ('md' min) {
//         padding-bottom: 120px;
//     } 
// }

.testimonial-section--style-1  {

    .swiper-pagination {
        gap: 10px;
    }
    .swiper-pagination .swiper-pagination-bullet {
        background: #9BA3EB;
        width: 10px;
        height: 10px;
        opacity: 1;
        @include transition;
    } 
    .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: $color-primary;
        width: 20px;
        border-radius: 20px;
    }
    
    .swiper-pagination-vertical.swiper-pagination-bullets,.swiper-vertical>.swiper-pagination-bullets {    
        bottom: -64px;
        left: -15px;
        right: unset;
        width: 100%;
        top: unset;
    }


    .reviewers {
        .swiper-vertical {
            max-height: 400px;
        }
        .swiper-slide-thumb-active {
            .testimonial-author-info {
                background-color: #FAF9FF;
                // @include transition;
            }
        }
    }

}





   
.header-hero-wrapper {
    background: linear-gradient(92.92deg, #2405F3 9.1%, #5C1CE2 99.72%);
    position: relative;
    &::before {
        content: "";
        background-image: url("../images/hero-section/opacity-bg.png");
        position: absolute;
        background-size: cover;
        background-position: center;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
    }
}






