.faq-section {
    .faq-img-content {
        position: relative;
        display: inline-block;
        z-index: 0;
        .title-wrapper {
            position: absolute;
            top: 96px;
            width: 350px;
            margin-bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
    &--style-2 {
        background-color: #F1F8F8;
        .faq-accordion-wrapper {
            .accordion {
                .accordion-item { 
                    background-color: $color-primary;
                    .accordion-header {

                        .accordion-button {
                            background-color: $color-white;
                        }
                        .accordion-button:not(.collapsed) {
                            // color: $color-white;
                        } 
                    }
                    .accordion-body {
                        // color: red;
                    }
                }
            }
        }
    }
}

.faq-accordion-wrapper {
    padding-top: 12px;
    .title-content {
        .title {
            color: $color-black;
            font-weight: 700;
            line-height: normal;
        }
        .para-text {

        }
    }

    .accordion {
        .accordion-item {
            border-color: #D9D9D9;
            margin-bottom: 20px;
            border-radius: 12px;
            background-color: $color-primary;
            border: none;
            .accordion-header {
                .accordion-button {
                    @include toRem(font-size, 20);
                    font-weight: 600;
                    line-height: 150%;
                    padding: 20px 30px;
                    border-radius: 10px;
                    color: $color-primary;
                    // border: 1px solid #E6F0F1;
                    background-color: #F1F8F8;

                    @include media-from-to(992px, min, 1200px, max) {
                    }

                    span {
                        color:#667475;
                        font-size: 20px;
                        font-weight: 300;
                        line-height: 150%;
                    }

                    &:focus {
                        border-color: none;
                        outline: unset;
                        box-shadow: none;
                    }
                    &::after {
                        background-image: url("../images/accordion-icon/down-angle.svg");
                        height: 0.7rem;
                    }
                }
                .accordion-button:not(.collapsed) {
                    color: $color-white;
                    background-color: transparent;
                    box-shadow: none;
                    border-color: transparent;

                    span {
                        color:#34868C;
                    }

                    &::after {
                        background-image: url("../images/accordion-icon/up-angle.svg");
                        transform: rotate(0deg);
                    }
                } 
            }
            .accordion-body {
                padding: 22px 0 30px 0; 
                border-top: 1px solid #34868C;
                margin: 0 30px;
                color: #E6F0F1;
                ul {
                    list-style: disc;
                }
            }
            .para-text {
                font-weight: 400;
                line-height: 26px;
            }
        }
    }

    &--style-2 {
        
    }
}





.draw-arrow {
    stroke-width: 3;
    stroke: black;
    fill: none;
    stroke-dashoffset: 300;
    stroke-dasharray: 300;
    animation-duration: 9s;
    animation-fill-mode: both;
    animation-name: rt-draw;
    &.tail-1 {
        animation-delay: 1.2s;
    }
    &.tail-2 {
        animation-delay: 1s;
    }
}

@keyframes rt-draw {
    to {
        stroke-dashoffset: 0;
    }
}