.sidebar-widget-layout {

    @include media-only ('lg', min) {
        
    }
    .side-widget {
        margin-bottom: 24px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .widget-title {
        position: relative;
        margin-bottom: 17px;
    }
}