
.rt-hero-section {
    background-color: #014A4F;
    position: relative;
    overflow: hidden;
    z-index: 0;
    padding-top: 88px;
    
    @include media-only('lg', min) {
        // padding: 190px 0 0 0;
    }
    
    &-banner-wrapper {
        position: relative;
        .hero-group-img {
            position: relative;
            display: inline-block;
            top: 0;
            right: 0;
            z-index: 0;

            @include media-only ('lg', min) {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: -2;
            }

            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                // background: radial-gradient(50% 50% at 50% 50%, rgba(1, 74, 79, 0.00) 0%, #014A4F 100%);
                z-index: 1;
                width: 100%;
                height: 100%;
                background: linear-gradient(273deg, rgba(1, 74, 79, 0.00) 0.66%, #014A4F 97.93%);
            }
        }

        .hero-content {
            padding: 120px 0 80px 0;
            @include media-only ('md', min) {
                padding: 180px 0 178px 70px;
            }
            .title-wrapper {
                margin-bottom: 15px;
            }
            .subtitle {
                color:#F6B433;
                font-size: 16px;
                font-weight: 500;
                line-height: normal;
                text-transform: uppercase;
                margin-bottom: 6px;
            }
            .hero-title {
                color: $color-white;
                position: relative;

                // @include media-only ()
            }

            .searchbox-container {
                margin-bottom: 30px;
            }

            .para-text {
                font-family: unset;
                color: rgba(255, 255, 255, 0.60);
                font-size: 18px;
                font-weight: 300;
                line-height: normal;
                span {
                    color: $color-white;
                    font-weight: 700;
                    position: relative;
                    &::before {
                        content: url("../images/hero/text-shape.svg");
                        position: absolute;
                        left: 5px;
                        bottom: -15px;
                        z-index: -1;
                    }
                }
            }
        }
    }

    .shape-parallax-list {
        li {
            position: absolute;
            z-index: -1;
            &:nth-child(1) {
                left: 352px;
                top: 90px;
            }
            &:nth-child(2) {
                left: 0;
                bottom: 0;
            }
            &:nth-child(3) {
                text-align: center;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }

    &--style-2 {
        padding-top: 88px;
        position: relative;
        z-index: 0;
        @include media-from-to(992px, min, 1200px, max ) {
            // padding: 250px 0 150px 0;
        }

        .hero-content {
            padding: 135px 0;
            .subtitle {
                color: #B0D0D2;
                font-weight: 400;
            }

            .searchbox-container  {
                .searchbox-textfield {
                    width: 25%;
                    @include media-only ('lg', min) {
                        width: 47%;
                    }
                }
            }
        }
        .hero-group-img {

        }

        &::before {
            content: "";
            position: absolute;
            background-image: url("../images/hero/hero-bg-img-1.png");
            @include background-content;
            // width: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            filter: grayscale(100%);
        }
        &::after {
            content: "";
            position: absolute;
            background: linear-gradient(180deg, rgba(1, 74, 79, 0.90) 0%, #014A4F 100%);
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            // filter: grayscale(100%);
        }

        .shape-parallax-list {
            li {
                position: absolute;
                z-index: -1;

                &:nth-child(1) {
                    left: 0;
                    top: 88px;
                }
                &:nth-child(2) {
                    right: 0;
                    top: 88px;
                    left: unset;
                }
                &:nth-child(3) {
                    right: 19%;
                    top: 162px;
                    left: unset;
                    bottom: unset;
                }
            }
        }
    }

    &--style-3 {
        padding: 235px 0 176px 0;
        position: relative;
        z-index: 0;
        @include media-from-to(992px, min, 1200px, max ) {
            padding: 250px 0 150px 0;
        }

        .hero-content {
            padding: 0;
            .subtitle {
                color: #B0D0D2;
                font-weight: 400;
            }

            .para-text { 
                span {
                    color: $color-secondary;
                }
            }

            .searchbox-container  {
                .searchbox-textfield {
                    width: 25%;
                    @include media-only ('lg', min) {
                        width: 47%;
                    }
                }
            }
        }
        .hero-group-img {

        }

        &::before {
            content: "";
            position: absolute;
            background-image: url("../images/hero/hero-bg-img-3.png");
            @include background-content;
            // width: 100%;
            left: 0;
            right: 0;
            // top: 0;
            bottom: 0;
            z-index: 0;
            // filter: grayscale(100%);
            height: 356px;
        }
        &::after {
            content: "";
            position: absolute;
            background-color: #01686F;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            // filter: grayscale(100%);
        }
    }
}