
.rt-hero-section {
    background-color: $color-primary;
    
    position: relative;
    overflow: hidden;
    z-index: 0;
    padding-top: 88px;
    
    @include media-only('lg', min) {
        // padding: 190px 0 0 0;
    }
    
    &-banner-wrapper {
        position: relative;
        .hero-group-img {
            position: relative;
            display: inline-block;
            top: 0;
            right: 0;
            z-index: 0;

            @include media-only ('lg', min) {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: -2;
            }

            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                // background: radial-gradient(50% 50% at 50% 50%, rgba(1, 74, 79, 0.00) 0%, #014A4F 100%);
                z-index: 1;
                width: 100%;
                height: 100%;
                background: linear-gradient(273deg, rgba(1, 74, 79, 0.00) 0.66%, #014A4F 97.93%);
            }
        }

        .hero-content {
            padding: 120px 0 80px 0;
            @include media-only ('md', min) {
                padding: 153px 0 152px 0;
            }
            .title-wrapper {
                margin-bottom: 28px;
            }
            .subtitle {
                color: #DBDFFD;
                font-weight: 600;
                line-height: 16px;
                letter-spacing: 0.32px;
                text-transform: uppercase;
                margin-bottom: 14px;
            }
            .hero-title {
                color: $color-white;
                position: relative;
                line-height: 55px;

                @include media-only('md', min) {
                    width: 580px;
                }
            }

            .searchbox-container {
                // margin-bottom: 30px;

                .searchbox-textfield {
                    // width: 100%;
                    border-radius: 10px;
                    background: #EEECFB;
                    overflow: hidden;
                }
            }

            .sub-text {
                z-index: -1;
                position: relative;
            }

            .para-text {
                font-family: unset;
                color: rgba(255, 255, 255, 0.60);
                font-size: 18px;
                font-weight: 300;
                line-height: normal;


                span {
                    color: $color-white;
                    font-weight: 700;
                    position: relative;
                    z-index: -1;
                    &::before {
                        content: url("../images/hero/text-shape.svg");
                        position: absolute;
                        left: 5px;
                        bottom: -15px;
                        z-index: -1;
                    }
                }
            }
        }

        .hero-img-wrapper {
            @include media-only (1200px, min) {
                width: 342px;
            }
        }
    }

    &--style-1 {
        padding-top: 100px;
        background-image: url("../images/hero/hero-bg-1.jpg");
        @include background-content;
    }

    &--style-2 {
        background: linear-gradient(90deg, #F3F3F3 54.61%, rgba(217, 217, 217, 0.00) 106.69%);
        padding-top: 100px;
        background-image: url("../images/hero/hero-bg-2.jpg");
        @include background-content;
        border-radius: 40px;
        padding-top: 0;
        margin: 100px 20px 0 20px;
        
        @include media-only ('lg', min) {
            margin: 100px 80px 0 80px;
        }

        @include media-only (1400, min) {
            margin: 100px 130px 0 130px;
        }

        .rt-hero-section-banner-wrapper {
            padding-top: 30px;
        }

        .hero-content {
            padding: 120px 0 80px 0;
            @include media-only ('md', min) {
                padding: 138px 0 230px 0;
            }
            .title-wrapper {
                
            }
            .subtitle {
                color: #605982;
            }
            .hero-title {
                color: #190B61;

                @include media-only('md', min) {
                    
                }
            }
        }

        .hero-img-wrapper {
            padding-right: 102px;
            // padding-top: 30px;
            @include media-only (1200px, min) {
                width: 100%;
            }
        }

        .filter-tab {
            margin-bottom: -33px;
            background-color: #190B61;
        }

        .selector .select2 {
            width: 300px !important;
        }
    }

    &--style-3 {
        padding-top: 100px;
        .hero-content {
            position: relative;
            z-index: 2;

            @include media-only ('md', min) {
                padding: 132px 0 133px 0;
            }
        }
        .item-img {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
        }
        .searchbox-container {
            border-radius: 100px 0px 50px 100px;
            padding: 32px 40px;
            @include media-only('lg', min) {
                width: 945px;
            }

            .searchbox-textfield {
                width: 260px;
            }
            .rt-searchbox-btn {
                padding: 15px 20px;
            }
            .selector {
                width: 260px;
            }
        }
    }

    &--style-4 {
        background: #F6F4FF;
        padding-top: 100px;
        z-index: 1;

        .hero-content {
            padding: 123px 0;

            .title-wrapper {
                .subtitle {
                    color: $color-primary;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: normal;
                }
                .hero-title {
                    color: $color-title;
                    width: 100%;
                    font-size: 60px;
                    line-height: 70px;
                }
            }
        }

        .rt-hero-section-banner-wrapper {
            .searchbox-container {
                @include media-only ('lg', min) {
                    width: 972px;
                }
                border-radius: 10px;
                box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.08);
                margin-bottom: -40px;
                position: relative;
                z-index: 9;
                .searchbox-textfield {
                    background-color: #EEECFB;
                    border-radius: 10px;
                    width: 255px;
                }
            } 
        } 

        &::before {
            content: url("../images/hero/hero-img-4.png");
            position: absolute;
            left: 100px;
            bottom: 0;
            z-index: -1;
            display: none;
            @include media-only ('lg', min) {
                display: block;
            }
        }

        &::after {
            content: url("../images/hero/hero-img-5.png");
            position: absolute;
            right: 96px;
            bottom: 0;
            z-index: -1;
            display: none;
            @include media-only ('lg', min) {
                display: block;
            }
        }
    }
}