.faq-section {

    .faq-img-content {
        position: relative;
        display: inline-block;
        z-index: 0;
        .title-wrapper {
            position: absolute;
            top: 96px;
            width: 350px;
            margin-bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }

}

.faq-accordion-wrapper {
    padding-top: 12px;
    .title-content {
        .title {
            color: $color-black;
            font-weight: 700;
            line-height: normal;
        }
        .para-text {

        }
    }

    .accordion {
        .accordion-item {
            border-color: #D9D9D9;
            margin-bottom: 20px;
            border-radius: 12px;
            background: #F1F8F8;
            border: none;
            .accordion-header {
                .accordion-button {
                    @include toRem(font-size, 20);
                    font-weight: 600;
                    line-height: 150%;
                    padding: 20px 30px;
                    border-radius: 12px;
                    border: 1px solid #E6F0F1;

                    @include media-from-to(992px, min, 1200px, max) {
                        // padding: 20px 15px;
                    }

                    span {
                        color:#667475;
                        font-size: 20px;
                        font-weight: 300;
                        line-height: 150%;
                    }

                    &:focus {
                        border-color: none;
                        outline: unset;
                        box-shadow: none;
                    }
                    &::after {
                        background-image: url("../images/faq/gray-angle-down.svg");
                    }
                }
                .accordion-button:not(.collapsed) {
                    color: $color-primary;
                    background-color: transparent;
                    box-shadow: none;
                    border-color: transparent;

                    span {
                        color:#34868C;
                    }

                    &::after {
                        background-image: url("../images/faq/primary-angle-down.svg");
                    }
                } 
            }
            .accordion-body {
                padding: 22px 0 30px 0; 
                border-top: 1px solid #B0D0D2;
                margin: 0 30px;
                ul {
                    list-style: disc;
                }
            }
            .para-text {
                font-weight: 400;
                line-height: 26px;
            }
        }
    }

    &--style-2 {

    }
}