.call-to-action-section {
    &-content-wrapper {
        position: relative;
        padding: 41px 80px;
        background: url("../images/call-to-action/call-bg.jpg");
        @include background-content;
        border-radius: 20px;
        // overflow: hidden;
        z-index: 0;
        margin-top: -118px;
        .title-wrapper {
            margin-bottom: 0;
            .section-title {
                color: $color-white;
                font-size: 30px;
                margin-bottom: 23px;
            }
            a.button {
                padding: 14px 20px;
                color: $color-title;
                svg {
                    margin-left: 9px;
                }
                
                &::before, &::after {
                    background-color: $color-white;
                }
            }
        }

        &::before {
            content: "";
            position: absolute;
            border-radius: 50px;
            left: 50%;
            bottom: 0;
            opacity: 0.3;
            background: #002C2F;
            filter: blur(36px);
            height: 50px;
            width: 90%;
            transform: translateX(-50%);
        }

        .shape-parallax-list {
            li {
                position: absolute;
                z-index: -1;
                &:nth-child(1) {
                    top: 0;
                    left: 0;
                }
                &:nth-child(2) {
                    left: 0;
                    right: 0;
                    text-align: center;
                    bottom: 0;
                }
            }
        }
    }
}