


.error-section {
    background-color: $color-white;
    .rt-error-area {
        .img-content {
            position: relative;
            margin-bottom: 75px;
        }
        .title-wrapper {
            margin-bottom: 35px;
            .section-title {
                font-size: 50px;
                font-weight: 700;
                line-height: 65px;
                margin-bottom: 15px;
            }
            .subtitle {
                font-size: 24px;
                font-weight: 500;
                line-height: 30px;
            }
        }

        
        .go-to-home-btn {
            width: 150px;
            height: 50px;
        }
    }
}
