.blog-section {
    position: relative;


    .title-wrapper {
        .section-title {
            margin-bottom: 0;
        }
    }
    
    .blog-thumb-wrapper {
        .rt-card {
            &:last-child {
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: none;
            }
        }
    }

    .rt-card {
        &:hover {
            .item-img {
                img {
                    filter: blur(2px);
                }
            }
        }
    }

    &--style-2 {
        .title-wrapper {
            .section-title {
                margin-bottom: 35px;
            }
        }
    }    
}


.all-blogs-section {
    .row {
        --bs-gutter-y: 1.5rem;
    }
}


