.brand-section {
    background-color: #FAF9FF;
    padding: 65px 0;

    .brand-list-wrapper {

    }

    .brand-list {
        row-gap: 30px;
        column-gap: 25px;
        .brand-item {
            svg {
                @include transition;
            }

            &:hover {
                svg {
                    fill: $color-primary;
                }
            }
        }
    }

    &--style-2 {
        background-color: $color-white;
        padding: 80px 0;
    }
    &--style-3 {
        background-color: $color-white;
        padding-top: 0;
        padding-bottom: 120px;
        
        .brand-section-wrapper {
            border-radius: 20px;
            background: #FBFBFF;
            padding-top: 78px;
            padding-bottom: 54px;
        }

        .brand-list {
            row-gap: 40px;
            column-gap: 70px;
        }
    }

}

