.funeral-section {

    .funeral-content {
        @include media-only ('lg', min) {
            padding-left: 30px;
        }
        .icon {
            margin-bottom: 15px;
        }
        .title-wrapper {
            margin-bottom: 32px;
            padding-right: 15px;
        }
        .subtitle {
            color: $color-primary;
            font-size: 16px;
            font-weight: 600;
            line-height: 26px;
            text-transform: uppercase;
            display: inline-block;
            margin-bottom: 10px;
            img {
                position: absolute;
                right: 0; 
                bottom: -3px;
            }
        }
        .section-title {
            // margin-bottom: 12px;
        }

        .para-text {
            margin-bottom: 35px;
        }

        .learn-more-btn {
            padding: 16px 29px;
            i {
                margin-left: 10px;
                font-size: 22px;
            }
        }
    }

    .shape-parallax-list {
        li {
            position: absolute;
            z-index: -1;
            &:nth-child(1) {
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
            &:nth-child(2) {
                left: 0;
                bottom: 0;
            }
        }
    }
}