.footer-section {
    position: relative;
    overflow: hidden;
    background-color: #08031D;
    padding-top: 100px;
    z-index: 0;
    .rt-footer-content-wrapper {
        padding: 60px 0 30px 0;
        @include media-only('sm', min) {
            padding: 120px 0 76px 0;
        }
        .rt-footer-logo {
            margin-bottom: 18px;
        }
        .rt-footer-content {
            .text {
                font-size: 18px;
                margin-bottom: 25px;
                color: #8A8989;
                line-height: 28px;
            }
            .para-text {
                // margin-bottom: 30px;
            }

            .subscribe-heading {
                margin-bottom: 18px !important;
            }
            .rt-footer-link-list-wrapper {
                .rt-footer-link-heading {
                    color: $color-white;
                    font-weight: 600;
                    line-height: normal;
                    margin-bottom: 30px;
                }
                ul.rt-footer-link-list {
                    li {
                        position: relative;
                        overflow: hidden;
                        a {
                            position: relative;
                            color: #8A8989;
                            line-height: 44px;
                            display: flex;
                            align-items: center;
                            &:hover {
                                color: $color-white;
                            }
                        }
                    }
                }
            }
            .contact-info-list {
                li, a {
                    color: #8A8989;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;

                    i {
                        font-size: 24px;
                        margin-right: 12px;
                    }
                }
                li {
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 25px;
                    }
                }
            }
            // Newsletter
            .newsletter-form {
                border-radius: 5px;
                border: 1px solid #3E3E41;
                padding: 5px 5px 5px 20px;
                svg {
                    margin-right: 8px;
                }
                .newsletter-input {
                    background-color: transparent;
                    border: none;
                    flex: 1;
                    color: #717171;
                    @extend .para-text;
                    
                    &::placeholder {
                        color: #717171;
                    }
                }
                .submit-btn {
                    background-color: $color-primary;
                    width: 40px;
                    height: 40px;
                    border-radius: 5px;
                    border: none;
                    color: $color-white;
                    i {
                        font-size: 21px;
                    }
                }
            }
        }
    }

    .rt-footer-bottom {
        background-color: #0F0B22;
        padding: 20px 0 20px 0;
        position: relative;
        .rt-footer-copyright-area {
            flex-wrap: wrap;
            .rt-footer-copyright-text {
                color: #809597;
                a {
                    color: $color-white;
                    &:hover {
                        color: $color-secondary;
                    }
                }
            }
            .to-top {
                background-color: transparent;
                border: none;
                color: #809597;
                line-height: 36px;
                gap: 12px;
                .icon {
                    width: 32px;
                    height: 32px;
                    background-color: $color-secondary;
                    color: $color-white;
                    border-radius: 50%;
                }
            }
        }
    }
    .shape-parallax-list {
        li {
            position: absolute;
            z-index: -1;
            &:nth-child(1) {
                left: 40px;
                bottom: 90px;
            }
            &:nth-child(2) {
                right: 15px;
                bottom: 82px;
            }
        }
    }

    &--style-1 {
        padding-top: 0;   
    }

    &--style-2 {
        padding-top: 0;

        .shape-parallax-list {
            li {
                position: absolute;
                z-index: -1;
                &:nth-child(1) {
                    left: 40px;
                    bottom: 0;
                }
                &:nth-child(2) {
                    right: 15px;
                    bottom: -8px;
                }
            }
        }
        
    }
}


