.breadcrumb-banner {
    margin-top: 100px;
    background-color: #3014B9;
    z-index: 0;
    
    @include media-only ('lg', min) {
        // padding-top: 225px;
    }

    .breadcrumbs-area {
        padding: 119px 0;
        .heading-title {
            color: $color-white;
            font-weight: 500;
            line-height: 28px;
            text-transform: capitalize;
            margin-bottom: 6px;
        }
        .entry-breadcrumb {
            .item-list-element {
                .item {
                    color: #CACACA;;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 28px;
                    text-transform: capitalize;
                    
                    &.current-item {
                        color: $color-white;
                        font-weight: 600;
                    }
                }
            }
            .dvdr {
                color: #8ABABD;
            }
        }
    }

    &::before {
        content: "";
        background-image: url("../images/breadcrumb/breadcrumb-bg-texture.png");
        @include background-content;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
}


