.sidebar-filter {
    border-radius: 12px;
    border: 1px solid #DCE0E1;
    background: $color-white;
    padding: 30px 0;
    // position: sticky;
    // top: 176px;

    .search-filter {
        padding: 0 30px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 4px;
            background-color: $color-primary;
            left: 30px;
            top: 36px;
            border-radius: 100px;
        }
        .title {
            font-size: 20px;
            line-height: normal;
            margin-bottom: 36px;
        }
    }

    .widget-search { 
        border-radius: 6px;
        background: #F1F8F8;
        padding: 2px;
        margin-bottom: 5px;
        .rt-searchbox-form {
            input {
                font-size: 14px;
                color: #859091;
                &::placeholder {
                    color: #859091;
                }
            }
        }
        .searchbox-submit {
            button {
                background-color: transparent !important;
                i {
                    color: #859091;
                }
            }
        }
    }

    .accordion {
        .accordion-item {
            padding: 10px 30px;
            .accordion-header {
                .accordion-button {
                    color: #2E4242;
                    font-size: 17px;
                    font-weight: 500;
                    line-height: normal;
                    padding: 20px 0;
                    span {

                    }

                    &:focus {
                        border-color: none;
                        outline: unset;
                        box-shadow: none;
                    }
                    &::after {
                        background-image: url("../images/accordion-icon/plus_icon.svg");
                        background-size: unset;
                    }
                }
                .accordion-button:not(.collapsed) {
                    background-color: transparent;
                    box-shadow: none;
                    // padding-bottom: 0;
                    span {
                        
                    }

                    &::after {
                        background-image: url("../images/accordion-icon/minus_icon.svg");
                        height: 0.25rem;
                        transform: rotate(0);
                    }
                } 
            }
            .accordion-body {
                padding: 0 0 20px 0;

                .form-check {
                    margin-bottom: 10px;
                    &-input {
                        width: 18px;
                        height: 18px;
                        border: 1.5px solid #B0D0D2;

                        &:checked {
                            background-image: url("../images/accordion-icon/white-check-mark.svg");
                            background-color: $color-primary;
                            border: transparent;
                        }
                        &:focus {
                            box-shadow: none;
                        }
                    }
                    &-label {
                        padding-left: 2px;
                        line-height: normal;
                    }
                }
            }
            .para-text {
                
            }
        }        
    }

    .filter-btn-list {
        padding: 30px 30px 0 30px;        
        border-top: 1px solid #DCE0E1;;
        gap: 10px;
        button {
            border: none;
            padding: 9px 16px;
            background-color: $color-white;
            border: 1px solid $color-primary;
            &.active, &:hover {
                background-color: $color-primary;
                color: $color-white;
            }
        }
        .reset-filter-btn {
            padding: 9px 9px;
        }
    }
    &--style-2 {
        .filter-input-wrapper {
            gap: 12px;
            .filter-input {
                width: 100%;
                border-radius: 6px;
                background: #F1F8F8;
                border: none;
                color: #859091;
                font-size: 14px;
                font-weight: 400;
                line-height: normal;
                padding: 11px 12px;
                &::placeholder {
                    color: #859091;
                }
            }
        }
        .filter-select-wrapper {
            gap: 12px;
            .filter-select {
                width: 100%;
                border-radius: 6px;
                background: #F1F8F8;
                span {
                    color: #859091;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: normal;
                }
                &::after {
                    width: 8px;
                    height: 8px;
                    border-bottom: 1px solid #A3ACAC;
                    border-right: 1px solid #A3ACAC;
                    top: 45%;
                    right: 16px;
                }

                .list {
                    width: 100%;
                }
            }
        }
        .filter-btn-list {
            padding: 30px 30px 0 30px;
            button {
                width: 100%;
                padding: 13px 16px;
            }
            .reset-filter-btn {
                padding: 13px 9px;
            }
        }
    }
}