.counter-section {
    z-index: 0;
    
    .counter-content-wrapper {
        background: $color-primary;
        padding: 62px 10px;
        border-radius: 10px;
        margin: 0 60px;
        position: relative;
        z-index: 0;

        &::before {
            content: url("../images/counter/counter-bg-shape.png");
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            z-index: -1;
        }
    }
    
}