.blogs-details-section {
    .blog-article {
        .blog-article-content-wrapper{
            background-color: $color-white;
            margin-bottom: 30px;
        }
    
        .single-blog-thumb {
            margin-bottom: 35px;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
            }
            .tag-list {
                position: absolute;
                top: 30px;
                left: 30px;
                z-index: 1;
                li {
                    a {
                        background-color: $color-white;
                        color: $color-primary;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: normal;
                        border-radius: 8px;
                        padding: 11px 16px;
                        &:hover {
                            background-color: $color-primary;
                            color: $color-white;
                        }
                    }
                }
            }
        }
        .single-content-wrap {
            // padding: 0 29px 30px 29px;
            .title {
                line-height: 40px;
                font-weight: 600;
                margin-bottom: 16px;
            }
            .single-blog-entry {
                margin-bottom: 12px;
                ul.entry-meta {
                    gap: 30px;
                    row-gap: 5px;
                    
                    .entry-admin {
                        span {
                            i {
                                font-size: 18px;
                            }                  
                        }
                    }
                    li, a {
                        color: $color-primary;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 32px;
                        span {
                            color: #6F7C7A;
                            i {
                                color: $color-primary;
                                margin-right: 6px;
                            }
                        }
                    }
                    a {
                        &:hover {
                            color: $color-title;
                            i {
                                color: $color-title;
                            }
                        }
                    }
                }
            }

            .single-blog-details {
                padding-bottom: 10px;
                border-bottom: 1px solid #DCE0E1;
                p {
                    margin-bottom: 25px;
                }
                .block-quote {
                    background: #F6F5FF;
                    overflow: hidden;
                    padding: 35px 56px;
                    position: relative;
                    gap: 42px;
                    margin: 32px 44px 34px 0;
                    
                    @include media-only ('sm', min) {

                    }

                    i {
                        color: $color-primary;
                        font-size: 30px;
                    }

                    p {
                        font-size: 20px;
                        font-style: italic;
                        font-weight: 500;
                        line-height: 30px;
                        margin-bottom: 0;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        background-color: $color-primary;
                        width: 4px;
                        height: 100%;
                        left: 0;
                        top: 0;
                    }
                }

                .blog-details-photo-gallery {
                    gap: 10px;

                    margin-bottom: 25px;
                    img {
                        border-radius: 8px;
                    }
                }

                .feature-list {
                    columns: 2;
                }
            }

            .single-blog-footer {
                padding-top: 20px;
                .small-head {
                    color: $color-title;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 28px;
                }
                .tag-list-wrapper {
                    .tag-list {
                        gap: 12px;
                        .tag-link {
                            font-size: 15px;
                            // color: $color-primary;
                        }
                    }
                }
                .social-link {
                    i {
                        color: #B6B2C5;
                        font-size: 19px;
                    }
                    &:hover {
                        i {
                            color: $color-primary;
                        }
                    }

                }
            }
        }
        
    }
}