.comment-section {
    background: $color-white;
    margin-bottom: 30px;
    
    .title {
        line-height: 30px;
        margin-bottom: 42px;
    }

    .comment-wrapper {
        &:last-child {
            .comment-content {
                border-bottom: none;
                margin-bottom: 0;
            }
        }
    }

}


.comment-wrapper {
    gap: 20px;
    border-bottom: 1px solid #D6DCE9;
    padding-bottom: 30px;
    margin-bottom: 33px;
    .avatar {
        img {
            border-radius: 12px;
            // width: 100%;
        }
    }
    .comment-content {
        flex: 1;
        .comment-top {
            margin-bottom: 15px;
        }

        .commentor-name {
            margin-bottom: 3px;
            a {
                font-weight: 600;
                color: $color-title;
            }
        }
        ul.comment-meta {
            li {
                color: #999;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px; 
            }
        }
        .comment {
            line-height: 26px;
            padding-right: 30px;
        }
        .reply-btn {
            background: #F1F0FF;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            color: $color-primary;
            padding: 5px 13px;
            &:hover {
                background-color: $color-primary;
                color: $color-white;
            }
        }
    }

    &.comment-reply {
        padding-left: 149px;
    }
    
}