.faq-section {
    .faq-img-content {
        position: relative;

        .shape-parallax-list {
            li {
                position: absolute;
                display: inline-block;
                &:nth-child(1) {
                    left: 30px;
                    top: 40px;
                }
            }
        }
    }
}

.faq-accordion-wrapper {

    .accordion {
        .accordion-item {
            // border: 1px solid #E0E0E0;
            border-color: red;
            margin-bottom: 20px;
            border: none;


            border-radius: 5px;
            border: 1px solid #E0E0E0;
            .accordion-header {
                .accordion-button {
                    @include toRem(font-size, 20);
                    font-weight: 600;
                    line-height: 28px;
                    padding: 26px 25px;
                    color: $color-title;
                    border-radius: 5px;
                    

                    @include media-from-to(992px, min, 1200px, max) {
                    }

                    &:focus {
                        border-color: none;
                        outline: unset;
                        box-shadow: none;
                    }

                    &::after {
                        background-image: url("../images/accordion-icon/plus.svg");
                    }
                }
                .accordion-button:not(.collapsed) {
                    color: $color-white;
                    background-color: $color-primary;
                    box-shadow: none;
                    border-color: transparent;
                    border-radius: 5px 5px 0px 0px;

                    span {
                        color:#34868C;
                    }

                    &::after {
                        background-image: url("../images/accordion-icon/minus.svg");
                        transform: rotate(0deg);
                    }
                } 
            }
            .accordion-body {
                padding: 26px 28px;
                border-radius: 5px;
            }
            .para-text {
                font-weight: 400;
                line-height: 26px;
            }
        }
    }

    &--style-2 {
        
    }
}





.draw-arrow {
    stroke-width: 3;
    stroke: black;
    fill: none;
    stroke-dashoffset: 300;
    stroke-dasharray: 300;
    animation-duration: 9s;
    animation-fill-mode: both;
    animation-name: rt-draw;
    &.tail-1 {
        animation-delay: 1.2s;
    }
    &.tail-2 {
        animation-delay: 1s;
    }
}






// progressive scroll pointer

.scroll-progress {
    position: fixed;
    right: 20px;
    z-index: 11;
    top: 50%;
    transition: .3s linear;
    // opacity: 0;
}

.scroll-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll-progress .scroll-text {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    margin-bottom: 15px;
    color: red;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
}

.scroll-progress .scroll-line {
    width: 1px;
    height: 60px;
    position: relative;
    background-color: purple;
    color: inherit;
    display: block;
}

.scroll-progress .scroll-point {
    display: inline-block;
    width: 9px;
    height: 9px;
    position: absolute;
    border-radius: 9px;
    background-color: red;
    top: -4px;
    left: -4px;
}