.team-section {
    background-color: #120745;

    .title-wrapper {
        .subtitle {
            color: $color-white;
        }
        .section-title {
            color: $color-white;
        }
    }
}