.testimonials-section {
    .row {
        --bs-gutter-y: 1.875rem;
    }
    background-color: #F1F8F8;
    .rt-card {
        box-shadow: none;
        &:hover {
            box-shadow: none;
        }
    }
}
