.contact-section {
    background-color: #01393D;

    .parent {
        .item {
            &:first-child {
                .contact-info-box {
                    &::before {
                        right: 70px;
                    }
                }
            }
            &:last-child {
                .contact-info-box {
                    // padding-left: 65px;
                    &::before {
                        display: none;
                    }
                    
                    @include media-only ("lg", min) {
                        padding-left: 65px;
                    }
                }
            }
        }
    }

    &--style-1 {
        padding: 40px 0;
    }
    &--style-2 {
        background-color: $color-white;
        z-index: 0;
        .shape-parallax-list {
            li {
                position: absolute;
                z-index: -1;
                &:nth-child(1) {
                    right: 20px;
                    bottom: 0;
                }
            }
        }
    }
    &--style-3 { 
        background-color: #F1F8F8;
        .contact-info-box {
            border-color: transparent;
        }
    }
}