.error-section {
    background-color: #F1F8F8;
    .rt-error-area {
        .img-content {
            position: relative;
        }
        .title-wrapper {
            .section-title {
                line-height: 120%;
                font-weight: 700;
            }
            .subtitle {
                line-height: 26px;
            }
        }

        .go-to-home-btn {
            border-radius: 8px;
            background-color: $color-secondary;
            color: $color-white;
            font-size: 18px;
            font-weight: 500;
            line-height: 150%;
            padding: 17px 28px;
            gap: 6px;
        }
    }
}
