.comment-post-form-wrapper {
    background: $color-white;
    padding: 62px 83px ;
    margin-bottom: 30px;

    border-radius: 10px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);

    @include media-only ('lg', min) {
        margin-bottom: 0;
    }

    .title {
        font-size: 22px;
        line-height: normal;
        position: relative;
        margin-bottom: 5px;
    }

    .text {
        margin-bottom: 15px;
    }

    .form-container {
        .input-area {
            padding: 15px 15px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: 1px solid #E1E4E7;
            background: $color-white;

            input {
                background-color: transparent;
                border: none;
                width: 100%;

                color: #B6B2C5;
                font-size: 15px;
                font-weight: 400;
                line-height: 28px;
                
                &::placeholder {
                    color: #B6B2C5;
                }
            }

            i {
                color: $color-primary;
                margin-right: 8px;
            }
        }

        .text-area-wrapper {
            textarea {
                height: 130px;
                padding: 20px;
                width: 100%;
                font-size: 15px;
                font-weight: 400;
                line-height: 28px;
                &::placeholder {
                    color: #B6B2C5;
                }
                border-radius: 5px;
                border: 1px solid #E1E4E7;
                background: $color-white;


            }
        }

        .rt-form-submit-btn {
            margin-top: 15px;
            border-radius: 6px;
            padding: 18px 40px
        }



        &.row>* {
            padding-right: 7px;
            padding-left: 7px;
        }

        .check-box-area {
            gap: 12px;
            margin-bottom: 8px;
            .form-check-input[type=checkbox] {
                border-radius: 50px;
            }

            .form-check-input {
                width: 18px;
                height: 18px;
                margin-top: 0;
            }

            label {
                color: #41396A;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                text-transform: capitalize;
            }
        }

        textarea {
            margin-bottom: 20px;
        }

    }
}