.doctor-listing-section {

    .row {
        --bs-gutter-y: 24px;
        
        &:hover {
            .rt-card {
                opacity: 0.6;
            }
        }
    }


    .rt-card {
        &:hover {
            opacity: 1 !important;
        }
    }
    &--style-1 {
    }
    &--style-2 {
        padding-top: 0;
    }
    &--style-3 {
        .rt-card {
            border: none;
            box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.06);
            
            .item-content {
                flex: 1;
                @include media-only (1400px, min) {
                    padding: 41px 30px;
                }
            }
        }

        .all-listing-btn {
            width: 150px;
            height: 50px;
            margin-top: 60px;
        }
    }
}