.footer-section {
    position: relative;
    overflow: hidden;
    background-color: #002C2F;
    padding-top: 100px;
    z-index: 0;
    .rt-footer-content-wrapper {
        padding: 60px 0 30px 0;
        @include media-only('sm', min) {
            padding: 120px 0 76px 0;
        }
        .rt-footer-logo {
            margin-bottom: 22px;
        }
        .rt-footer-content {
            .text {
                margin-bottom: 25px;
                color: #809597;
                line-height: 26px;
            }
            .para-text {
                // margin-bottom: 30px;
            }
            .rt-footer-link-list-wrapper {
                .rt-footer-link-heading {
                    color: $color-white;
                    line-height: 36px;
                    margin-bottom: 20px;
                }
                ul.rt-footer-link-list {
                    li {
                        position: relative;
                        overflow: hidden;
                        a {
                            @extend .para-text;
                            position: relative;
                            color: #809597;
                            line-height: 36px;
                            display: flex;
                            align-items: center;
                            i {
                                margin-right: 7px;
                            }
                            margin-left: -24px;
                            &:hover {
                                color: $color-white;
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
            // Newsletter
            .newsletter-form {
                border-radius: 8px;
                background: #01393D;
                padding: 15px 20px;
                svg {
                    margin-right: 8px;
                }
                .newsletter-input {
                    background-color: transparent;
                    border: none;
                    flex: 1;
                    color: #567476;
                    @extend .para-text;
                    
                    &::placeholder {
                        color: #567476;
                    }
                }
                .submit-btn {
                    background-color: transparent;
                    border: none;
                    color: $color-white;
                    i {
                        font-size: 21px;
                    }
                }
            }
        }
    }

    .rt-footer-bottom {
        padding: 27px 0 26px 0;
        border-top: 1px solid #014A4F;
        position: relative;
        .rt-footer-copyright-area {
            flex-wrap: wrap;
            .rt-footer-copyright-text {
                color: #809597;
                a {
                    color: $color-white;
                    &:hover {
                        color: $color-secondary;
                    }
                }
            }
            .to-top {
                background-color: transparent;
                border: none;
                color: #809597;
                line-height: 36px;


                i {
                    background-color: $color-secondary;
                    color: $color-white;
                    border-radius: 50%;
                    padding: 6px 8px;
                    margin-left: 10px;
                }
            }
        }
    }
    .shape-parallax-list {
        li {
            position: absolute;
            z-index: -1;
            &:nth-child(1) {
                left: 40px;
                bottom: 90px;
            }
            &:nth-child(2) {
                right: 15px;
                bottom: 82px;
            }
        }
    }

    &--style-1 {
        padding-top: 0;   
    }

    &--style-2 {
        padding-top: 0;

        .shape-parallax-list {
            li {
                position: absolute;
                z-index: -1;
                &:nth-child(1) {
                    left: 40px;
                    bottom: 0;
                }
                &:nth-child(2) {
                    right: 15px;
                    bottom: -8px;
                }
            }
        }
        
    }
}


