.app-download-section {
    .app-download-content-wrapper {
        background-color: $color-secondary;
        position: relative;
        border-radius: 24px;
        padding: 56px 30px;
        margin-bottom: -80px;
        z-index: 1;

        // padding: 25px;
        @include media-only ('md') {
            padding: 56px 0;
            margin-bottom: -120px;
        }

        .image-item {
            position: absolute;
            bottom: -48px;
            left: 5%;
        }

        .shape-parallax-list {
            li {
                position: absolute;
                z-index: -1;
                &:nth-child(1) {
                    left: 15px;
                    top: 0;
                }
                &:nth-child(2) {
                    left: 16%;
                    bottom: 0;
                }
                &:nth-child(3) {
                    right: 24%;
                    bottom: 0;
                }
                &:nth-child(4) {
                    right: 24%;
                    bottom: -12px;
                }
                &:nth-child(5) {
                    right: 0;
                    top: 0;
                }
            }
        }
    }

    .title-wrapper {
        padding: 0;
        margin: 0;
        // padding-left: 35px;
        .section-title {
            color: $color-white;
            font-size: 32px;
        }
        .para-text {
            color: #FEF6E6;
            line-height: 26px;
        }
    }

    &--style-1 {
        transform: translateY(-120px);

        .title-wrapper {
            @include media-only ('lg', min) {
                padding-left: 35px;
            }
        }

        .app-download-area {
            @include media-only ('lg', min) {
                padding-left: 15px;
            }
        }
    }

    &--style-2 {
        .app-download-content-wrapper {
            background-color: $color-primary;
            // padding: 35px;
            // overflow: hidden;
            padding: 0;
            margin-bottom: -50px;
            @include media-only ('md') {
                padding: 0;
                margin-bottom: -50px;
            }

            @include media-only ('lg') {
                // padding: 40px 0 0 96px;
                margin-bottom: -150px;
            }

            .image-item {
                position: relative;
                bottom: unset;
                left: unset;
                right: 0;
                // right: -46px;
                @include media-only ('xl', min) {
                }
                .img-shape-parallax-list {
                    li {
                        position: absolute;
                        top: 25%;
                        left: -4%;
                    }
                }
            }
        }
        .title-wrapper {
            padding: 40px;
            @include media-only('lg') {
                padding: 41px 0 58px 96px;
            }
            .section-title {
                line-height: 54px;
                margin-bottom: 0;
            }
            .para-text {
                color: #B0D0D2;
                margin-bottom: 35px;
            }
        }

        .shape-parallax-list {
            li {
                position: absolute;
                z-index: -1;
                &:nth-child(1) {
                    left: unset !important;
                    right: 0;
                    top: -12px !important;
                }
                &:nth-child(2) {
                    bottom: unset !important;
                    transform: rotate(180deg);
                    top: 0 ;
                    left: 15px !important;
                }
                &:nth-child(3) {
                    right: 0 !important;
                    left: 0;
                    bottom: 0;
                    text-align: center;
                }
                &:nth-child(4) {
                    right: unset !important;
                    bottom: 0 !important;
                    left: -134px;
                    top: 0;
                    display: none;
                    @include media-only (1450px, min) {
                        display: block;
                    }
                }
                &:nth-child(5) {
                    right: -134px !important;
                    // top: 0;
                    display: none;
                    @include media-only (1450px, min) {
                        display: block;
                    }
                }
            }
        }
    }
}