.feature-section {
    z-index: 0;
    .shape-parallax-list {
        li {
            position: absolute;
            z-index: -1;
            &:nth-child(1) {
                right: 0;
                bottom: 0;
            }
        }
    }
}