.meta-list {
    gap: 20px;
    li {
        a {
            &:hover {
                color: $color-primary !important;
            }
        }
    }


    &--style-2 {
       li {
            color: #605982;
            font-size: 16px;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 15px;
            i {
                color: #605982;
                font-size: 19px;
                margin-right: 7px;
            }
       }
    }
}